@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@layer base {

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 7px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-200;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md;
  }

  [data-mui-color-scheme="dark"] ::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }

  [data-mui-color-scheme="dark"] ::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
  }
}



@layer components {

  .error-text {
    @apply text-red-600 dark:text-red-500
  }

  .wrapper-component {
    @apply bg-[#ffffff] dark:bg-[#2F4B71];
  }

  .wrapper-pg-bg {
    @apply bg-[#eeeeee] dark:bg-[#2F4B53]
  }

  .main-color-text {
    @apply text-[#1A4D7A] dark:text-white
  }


  .main-color-text-custom {
    @apply text-[#265d8d] dark:text-white
  }

  .main-color-bg {
    @apply bg-[#1A4D7A]
  }

}



/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
  line-height: 1.3;
}

h3 {
  font-size: 1.75em;
  line-height: 1.4;
}

h4 {
  font-size: 1.5em;
  line-height: 1.5;
}

h5 {
  font-size: 1.25em;
  line-height: 1.6;
}

h6 {
  font-size: 1em;
  line-height: 1.7;
  font-weight: normal;
}


html,
body,
#root,
.your-component-parent {
  height: 100%;
}